# {{ ansible_managed }}

[Unit]
Description=Shortened URLs service
Documentation=https://framagit.org/luc/lstu
Requires=network.target
After=network.target

[Service]
Type=forking
User={{ lstu_user }}
RemainAfterExit=yes
WorkingDirectory={{ lstu_working_dir }}/
PIDFile={{ lstu_working_dir }}/script/hypnotoad.pid
ExecStart=/usr/local/bin/carton exec hypnotoad script/lstu
ExecStop=/usr/local/bin/carton exec hypnotoad -s script/lstu
ExecReload=/usr/local/bin/carton exec hypnotoad script/lstu

[Install]
WantedBy=multi-user.target
