# {{ ansible_managed }}

####################
# Get the in-depth version with detailed explanations here:
# https://framagit.org/luc/lstu/blob/master/lstu.conf.template
####################

{
    hypnotoad => {
        listen => {{ [lstu_listen] | flatten | to_json }},
{{ "        proxy => %s," % lstu_proxy | ternary(1,0) if lstu_proxy is defined else "" }}
    },
    contact => '{{ lstu_contact }}',
    secret => {{ lstu_secrets | to_json }},

{{ "    adminpwd => '%s',"        %  lstu_adminpwd                  if lstu_adminpwd is defined and lstu_adminpwd != '' and not lstu_hash_adminpwd else "" }}
{{ "    hashed_adminpwd => '%s'," %  lstu_adminpwd | hash('sha256') if lstu_adminpwd is defined and lstu_adminpwd != '' and lstu_hash_adminpwd     else "" }}
{{ "    theme => '%s',"           %  lstu_theme                     if lstu_theme is defined           else "" }}
{{ "    page_offset => %s,"       %  lstu_page_offset               if lstu_page_offset is defined     else "" }}
{{ "    length => %s,"            %  lstu_url_length                if lstu_url_length is defined      else "" }}
{{ "    provis_step => %s,"       %  lstu_provis_step               if lstu_provis_step is defined     else "" }}
{{ "    provisioning => %s,"      %  lstu_provisioning              if lstu_provisioning is defined    else "" }}
{{ "    prefix => '%s',"          %  lstu_prefix                    if lstu_prefix is defined          else "" }}
{{ "    allowed_domains => %s,"   %  lstu_allowed_domains | to_json if lstu_allowed_domains is defined else "" }}
{{ "    fixed_domain => '%s',"    %  lstu_fixed_domain              if lstu_fixed_domain is defined    else "" }}
{{ "    dbtype => '%s',"          %  lstu_db_type                   if lstu_db_type is defined         else "" }}
{{ "    db_path => '%s',"         %  lstu_db_path                   if (lstu_db_type is not defined or lstu_db_type == 'sqlite') and lstu_db_path is defined else "" }}
{% if lstu_db_type is defined and lstu_db_type == 'postgresql' and lstu_pgdb is mapping %}
    pgdb => {
        {{ "database => '%s'," % lstu_pgdb.database if lstu_pgdb.database is defined else "" }}
        {{ "host     => '%s'," % lstu_pgdb.host     if lstu_pgdb.host is defined     else "" }}
        {{ "port     => %s,"   % lstu_pgdb.port     if lstu_pgdb.port is defined     else "" }}
        {{ "user     => '%s'," % lstu_pgdb.user     if lstu_pgdb.user is defined     else "" }}
        {{ "pwd      => '%s'," % lstu_pgdb.pwd      if lstu_pgdb.pwd is defined      else "" }}
        {{ "max_connections => %s," % lstu_pgdb.max_connections if lstu_pgdb.max_connections else "" }}
    },
{% endif %}
{% if lstu_db_type is defined and lstu_db_type == 'mysql' and lstu_mysqldb is mapping %}
    mysqldb => {
        {{ "database => '%s'," % lstu_mysqldb.database if lstu_mysqldb.database is defined else "" }}
        {{ "host     => '%s'," % lstu_mysqldb.host     if lstu_mysqldb.host is defined     else "" }}
        {{ "port     => %s,"   % lstu_mysqldb.port     if lstu_mysqldb.port is defined     else "" }}
        {{ "user     => '%s'," % lstu_mysqldb.user     if lstu_mysqldb.user is defined     else "" }}
        {{ "pwd      => '%s'," % lstu_mysqldb.pwd      if lstu_mysqldb.pwd is defined      else "" }}
        {{ "max_connections => %s," % lstu_mysqldb.max_connections if lstu_mysqldb.max_connections else "" }}
    },
{% endif %}
{{ "    ban_min_strike => %s," % lstu_ban_min_strike          if lstu_ban_min_strike is defined else "" }}
{{ "    ban_blacklist => %s,"  % lstu_ban_blacklist | to_json if lstu_ban_blacklist is defined  else "" }}
{{ "    ban_whitelist => %s,"  % lstu_ban_whitelist | to_json if lstu_ban_whitelist is defined  else "" }}
{% if lstu_piwik is mapping %}
    piwik => {
        {{ "url    => '%s'," % lstu_piwik.url    if lstu_piwik.url is defined    else "" }}
        {{ "idsite => '%s'," % lstu_piwik.idsite if lstu_piwik.idsite is defined else "" }}
    },
{% elif lstu_piwik_url is defined and lstu_piwik_idsite is defined %}
    piwik => {
        url    => '{{ lstu_piwik_url }}',
        idsite => '{{ lstu_piwik_idsite }}',
    },
{% endif %}
{% if lstu_minion is mapping %}
    minion => {
        {{ "enabled => %s,"   % lstu_minion.enabled | ternary(1,0) if lstu_minion.enabled is defined else "" }}
        {{ "db_path => '%s'," % lstu_minion.db_path                if lstu_minion.db_path is defined else "" }}
{% if lstu_db_type is defined and lstu_db_type == 'postgresql' and lstu_minion.pgdb is defined and lstu_minion.pgdb is mapping %}
        pgdb => {
            {{ "database => '%s'," % lstu_minion.pgdb.database if lstu_minion.pgdb.database is defined else "" }}
            {{ "host     => '%s'," % lstu_minion.pgdb.host     if lstu_minion.pgdb.host is defined     else "" }}
            {{ "port     => %s,"   % lstu_minion.pgdb.port     if lstu_minion.pgdb.port is defined     else "" }}
            {{ "user     => '%s'," % lstu_minion.pgdb.user     if lstu_minion.pgdb.user is defined     else "" }}
            {{ "pwd      => '%s'," % lstu_minion.pgdb.pwd      if lstu_minion.pgdb.pwd is defined      else "" }}
        },
{% endif %}
{% if lstu_db_type is defined and lstu_db_type == 'mysql' and lstu_minion.mysqldb is defined and lstu_minion.mysqldb is mapping %}
        mysqldb => {
            {{ "database => '%s'," % lstu_minion.mysqldb.database if lstu_minion.mysqldb.database is defined else "" }}
            {{ "host     => '%s'," % lstu_minion.mysqldb.host     if lstu_minion.mysqldb.host is defined     else "" }}
            {{ "port     => %s,"   % lstu_minion.mysqldb.port     if lstu_minion.mysqldb.port is defined     else "" }}
            {{ "user     => '%s'," % lstu_minion.mysqldb.user     if lstu_minion.mysqldb.user is defined     else "" }}
            {{ "pwd      => '%s'," % lstu_minion.mysqldb.pwd      if lstu_minion.mysqldb.pwd is defined      else "" }}
        },
{% endif %}
    },
{% endif %}
{% if lstu_ldap is mapping %}
    ldap => {
        {{ "uri         => '%s'," % lstu_ldap.uri         if lstu_ldap.uri is defined         else "" }}
        {{ "user_tree   => '%s'," % lstu_ldap.user_tree   if lstu_ldap.user_tree is defined   else "" }}
        {{ "bind_dn     => '%s'," % lstu_ldap.bind_dn     if lstu_ldap.bind_dn is defined     else "" }}
        {{ "bind_pwd    => '%s'," % lstu_ldap.bind_pwd    if lstu_ldap.bind_pwd is defined    else "" }}
        {{ "user_attr   => '%s'," % lstu_ldap.user_attr   if lstu_ldap.user_attr is defined   else "" }}
        {{ "user_filter => '%s'," % lstu_ldap.user_filter if lstu_ldap.user_filter is defined else "" }}
    },
{% endif %}
{{ "    htpasswd => '%s',"                  % lstu_htpasswd                      if lstu_htpasswd is defined                  else "" }}
{{ "    session_duration => %s,"            % lstu_session_duration              if lstu_session_duration is defined          else "" }}
{{ "    max_redir => %s,"                   % lstu_max_redir                     if lstu_max_redir is defined                 else "" }}
{{ "    spam_blacklist_regex => '%s',"      % lstu_spam_blacklist_regex          if lstu_spam_blacklist_regex is defined      else "" }}
{{ "    spam_path_blacklist_regex => '%s'," % lstu_spam_path_blacklist_regex     if lstu_spam_path_blacklist_regex is defined else "" }}
{{ "    spam_whitelist_regex => '%s',"      % lstu_spam_whitelist_regex          if lstu_spam_whitelist_regex is defined      else "" }}
{{ "    skip_spamhaus => %s,"               % lstu_skip_spamhaus | ternary(1,0)  if lstu_skip_spamhaus is defined             else "" }}
{{ "    safebrowsing_api_key => '%s',"      % lstu_safebrowsing_api_key          if lstu_safebrowsing_api_key is defined      else "" }}
{{ "    memcached_servers => %s,"           % lstu_memcached_servers | to_json   if lstu_memcached_servers is defined         else "" }}
{{ "    csp => \"%s\","                     % lstu_csp                           if lstu_csp is defined                       else "" }}
{{ "    x_frame_options => '%s',"           % lstu_x_frame_options               if lstu_x_frame_options is defined           else "" }}
{{ "    x_content_type_options => '%s',"    % lstu_x_content_type_options        if lstu_x_content_type_options is defined    else "" }}
{{ "    x_xss_protection => '%s',"          % lstu_x_xss_protection              if lstu_x_xss_protection is defined          else "" }}
{{ "    log_creator_ip => %s,"              % lstu_log_creator_ip | ternary(1,0) if lstu_log_creator_ip is defined            else "" }}
};
